{% extends "layout.html" %} <!--This page contains the information that is unique to the home.html-->

{% block content%} <!--The content in this block will be injected into the block content of layout.html-->
    {%for post in posts.items%} <!--looping through items in 'posts'. 'posts' is a pagination object and is defined in the home() method of the routes.py file-->
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <!--the above image is the user's profile image. it is displayed next to their blog post-->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{url_for('users.user_post', username=post.author.username)}}">{{ post.author.username }}</a> <!--displays author's username above post. when clicked, you are taken to a page with only that particular author's posts-->
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small> <!--displays the date of the post above post-->
          </div>
          <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2> <!--when title of post is clicked on, we are redirected to post.html-->
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} <!--we create buttons for our home page that allow us to view the different pages of posts-->
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock %}
